.layout > h1 {
  margin-top: 40px;
  margin-left: 42%;
  padding-bottom: 10px;
}

.container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media all and (max-width: 600px) {
  .layout > h1 {
    margin-left: 30%;
    width: auto;
  }
}
